$font-header: "Pixelify Sans", sans-serif;
$font-header-regular: 400;
$font-header-medium: 500;
$font-header-semibold: 600;
$font-header-bold: 700;

$font-content: "Quicksand", sans-serif;
$font-content-light: 300;
$font-content-regular: 400;
$font-content-medium: 500;
$font-content-semibold: 600;
$font-content-bold: 700;