@import "colors";
@import "fonts";
@import "breakpoints";


@keyframes breathe
{
    from { transform: scale(1.05) }
    to { transform: scale(1) }
}


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $background;
    color: $text;
    font-family: $font-content;
    font-weight: $font-content-regular;
}


a
{
    text-decoration: none;
    transition: color .1s ease-in-out;

    &:hover
    {
        color: $accent;
    }
}


#particles
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
}


header
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0,0,0,.25) 20%, rgba(0,212,255,0) 84%);
    z-index: 1;

    #header-title
    {
        h1
        {
            font-family: $font-header;
            font-weight: $font-header-regular;
            font-size: 33px;
            letter-spacing: 1px;
            color: $accent;
        }
    }

    nav > ul
    {
        display: flex;
        flex-direction: column;

        @include sm()
        {
            flex-direction: row;
        }

        li
        {
            list-style: none;
            text-align: right;


            &:not(&:first-of-type)
            {
                margin-top: 7px;

                @include sm()
                {
                    margin-left: 10px;
                    margin-top: 0;
                }
            }

            a
            {
                color: $text;
                text-transform: uppercase;
                font-weight: $font-content-light;
                font-size: 14px;
                letter-spacing: 1px;

                &.selected
                {
                    text-decoration: underline;
                    text-decoration-color: $accent;
                    text-underline-offset: 4px;
                }

                &:hover
                {
                    color: $accent;
                }
            }
        }
    }
}


main
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .page
    {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active
        {
            pointer-events: auto;
            opacity: 1;
        }
    }
}


.page#home-page
{
    text-transform: uppercase;

    img
    {
        width: 150px;
        animation: breathe 1.7s ease-in-out 0s infinite alternate-reverse;
    }

    #landing-ip-section
    {
        margin-top: 30px;

        &:hover
        {
            cursor: pointer;
        }

        p
        {
            letter-spacing: 1px;
            text-align: center;
            user-select: none;

            &#ip-text
            {
                font-weight: $font-content-semibold;
                font-size: 18px;

                span#ip
                {
                    font-weight: $font-content-bold;
                    color: $accent;
                }
            }

            &#copy-text
            {
                font-size: 12px;
                margin-top: 3px;
            }
        }
    }
}


.page#vote-page
{
    a
    {
        color: $accent;

        &:hover
        {
            text-decoration: underline;
        }
    }

    table
    {
        //border: 1px solid red;
        table-layout: fixed;
        //border-collapse: collapse;

        tr
        {

            th, td
            {
                //border: 1px solid red;
                //padding: 5px 10px;
            }

            th
            {
                font-weight: $font-content-medium;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: left;
            }

            td
            {
                font-weight: $font-content-light;

                &:first-of-type
                {
                    //text-align: center;
                }
            }
        }
    }
}


.page#store-page
{
    a
    {
        font-size: 17px;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .12);
        border: 1px solid $accent;
        color: $accent;
        font-weight: $font-content-light;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover
        {
            background-color: $accent;
            color: $background;
        }
    }
}