@import "colors";
@import "fonts";
@import "breakpoints";


@keyframes breathe
{
    from { transform: scale(1.07) }
    to { transform: scale(1) }
}


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $background;
    color: $text;
    font-family: $font-content;
    font-weight: $font-content-regular;
}


a
{
    text-decoration: none;
    transition: color .1s ease-in-out;
    color: inherit;

    &:hover
    {
        color: $accent;
    }
}


#particles
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
}


.card
{
    display: block;
    background-color: $card;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    letter-spacing: 1px;
    max-width: 500px;

    &:hover
    {
        color: $accent;
    }
}


section
{
    padding: 30px;
    min-height: 35vh;
    margin-bottom: 50px;

    h3
    {
        color: $accent;
        text-transform: uppercase;
        font-weight: $font-content-regular;
        margin-bottom: 20px;
        $bracket-color: darken($text, 20%);

        &:before
        {
            color: $bracket-color;
            content: "[ ";
            font-weight: $font-content-light
        }

        &:after
        {
            color: $bracket-color;
            content: " ]";
        }
    }
}


section#landing
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img
    {
        width: 100px;
        animation: breathe 1.5s ease-in-out 0s infinite alternate-reverse;
    }

    h1
    {
        font-family: $font-header;
        font-weight: $font-header-regular;
        font-size: 35px;
        color: $accent;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 15px;
    }

    p
    {
        font-size: 17px;
        font-weight: $font-content-light;
    }

    #down-chevron
    {
        position: absolute;
        bottom: 0;
        width: 20px;
        margin-bottom: 27px;

        img
        {
            width: 100%;
            height: 100%;
        }
    }
}


section#vote
{

}


section#store
{
    .big-button
    {
        border: 1px solid $accent;
        color: $accent;
        padding: 4px 10px;
        border-radius: 6px;
        margin-top: 10px;
        max-width: 170px;
        text-align: center;

        &:hover
        {
            background-color: $accent;
            color: $background;
        }
    }
}


section#contact
{
    .card
    {
        color: $accent;

        .contact-link
        {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
            color: white;
        }

        &:hover
        {
            .contact-link
            {
                color: $accent;
            }
        }
    }
    //p
    //{
    //    margin-bottom: 5px;
    //
    //    .contact-link
    //    {
    //        color: $accent;
    //        margin-left: 3px;
    //
    //        &:hover
    //        {
    //            text-decoration: underline;
    //        }
    //    }
    //}
}


